.h1{
    font-size: 40pt; color: #007c8e;
    
}
.h2{
   font-size: 18pt; color: #cc4306;

}
.p{
    font-size: 14pt;
}
.p1{
    color: #cc4306;
    font-size: 14pt;
}
.h1-titulo{
    font-size: 48pt; color: #8fc33e;
}