

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
.a{
   margin-right:8px;
   color:inherit;
   padding-left: 0%;
   align-items: center;
}
.Link:hover{
    color: #80ad3e;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    display: inline-block;
    height: 100%;
    padding-left: 20px;
}
#logo {
  display: inline-block;
  height: 100%;
  padding-left: 20px;
  
}
.hero{
    display: inline-block;
    height: 100%;
    padding-left: 20%;

}

.wrap img {width: 100%;
height: fit-content;}
.cap{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 22pt;
    text-align: left;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.05);
    
}